<div id="banner" class="container">
    <a class="button-slider-prev">←</a>
        <a class="button-slider-next">→</a>
    <div class="banner-list">
        <!-- <ul>
            <li class="show"><a href="#"><img src="/static/img/banner_img1.jpg" alt=""></a></li>
            <li><a href="#"><img src="/static/img/banner_img2.jpg" alt=""></a></li>
            <li><a href="#"><img src="/static/img/banner_img3.jpg" alt=""></a></li>
        </ul>
        <ol>
            <li class="active"></li>
            <li></li>
            <li></li>
        </ol> -->
    </div>

    <div class="banner-mask"></div>
</div>